.intro {
  width: 100%;
  margin-top: 200px;

  &-container {
    @include flex;
    margin-bottom: 150px;
  }

  &-title {
    width: 750px;
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0f0101;
    opacity: 0.9;
  }

  &-title span {
    color: #d23166;
  }

  &-text {
    width: 523px;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0f0101;
    margin: 30px 0;
    opacity: 0.6;
  }

  &-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .intro {
    width: 90%;
    margin: auto;

    &-container {
      flex-wrap: wrap;
      flex-direction: column;
    }

    &-title {
      width: 80%;
      font-size: 37px;
      margin: 20px auto;
      text-align: center;
    }

    &-text {
      width: 90%;
      font-size: 14px;
      margin: 30px auto;
      text-align: center;
    }

    &-img {
      display: flex;
      margin: 30px auto;
    }

    &-btn {
      margin: 0 100px;
    }
  }
}
