.mind {
  &-container {
    @include flex2;
    flex-direction: column;
    background-color: #fff;
  }

  &-title {
    font-family: rubik;
    width: 522px;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin: 150px 0 50px;
  }

  &-input {
    font-weight: 500;
    font-family: hind madurai;
    width: 303px;
    height: 74px;
    border: 1px pink solid;
    border-radius: 5px;
    margin: 20px 0;
    outline: none;
  }
}

@media (max-width: 1200px) {
  .mind-container {
    width: 90%;
    margin: auto;
    border-radius: 20px;

    .mind-title {
      width: 100%;
      font-size: 34px;
      margin: 30px auto;
    }
  }
}
