@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-title {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}

@mixin box-text {
  font-family: hind madurai;
  width: 454px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
  margin: 20px 0;
}

@mixin box-tag {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}

@mixin box-tag-span {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}
