.sugar {
  width: 100%;

  &-container {
    @include flex;
  }

  &-title {
    width: 349px;
    font-family: "rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
  }

  &-text {
    width: 442px;
    font-family: "hind madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin: 30px 0;
  }
}
.sugar {
  width: 100%;
  // Основные стили оставляем как были
  &-container {
    @include flex;
    width: 1200px;
    margin: auto;
  }

  &-title {
    width: 349px;
    font-family: "rubik";
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
  }

  &-text {
    width: 442px;
    font-family: "hind madurai";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin: 30px 0;
  }
}

@media (max-width: 1200px) {
  .sugar {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sugar-container {
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 20px;
  }

  .sugar-title {
    width: 100%;
    font-size: 32px;
    margin: 10px auto;
  }

  .sugar-text {
    width: 100%;
    font-size: 14px;
    margin: 20px auto;
  }

  .sugar-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 20px auto;
  }

  .sugar-btn {
    width: 80%;
    margin: 10px auto;
  }
}
